html body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.fadeImage{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  background-color: white;
  border: 2px solid black;
}

.navItems{
  cursor: pointer;
  border: 2px solid pink;
  margin: 5px;
}

.redbutton{ 
  background-color: red;
  color: white;
}

.redbutton:hover{
  background-color: white;
  color: red;
  border: 1px solid red;
}

.title{
  position: absolute;
  left: 10px;
}

.home-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  background-image: url(./schedule-pic.jpeg) no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-blend-mode: exclusion;
  height: 100vh;
}

.card{
  max-width: 500px;
  margin: auto;
  top: 50%;
  transform: translateY(+50%);
}